body{
    background-color: black;
}
img{
    width: 100%;
    border: 5px solid white;
}
h1{
    text-transform: uppercase;
    color: rgb(227, 192, 147);
    font-size: 2rem;
    text-align: center;
}
p{
    color: aliceblue;
    text-align: center;
    font-size: 0.8rem;
}
div{
    font-family: "Libre Baskerville", serif;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}
